<!DOCTYPE html>
<html lang="en" ng-app = "musicApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JuiceBox</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <!-- Voice Detection Libraries -->
    <script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>

    <!-- Other Scripts -->
    <script src="main.js"></script>
    <script src="https://www.noteflight.com/clientapi/2.0.0/nfclient.js"></script>


  </head>

  <body>
    <div class="container" ng-controller = "MusicController as ctrl">
      <div class="row">
        <div class="col"></div>
        <h2 class="title">J U I C E B O X</h2>
      </div>
      
      <br>
      <div id="score1"></div>
      <div class="jumbotron">
     
        <h3>Speak into the microphone.
          <button ng-if="ctrl.isPaused" ng-click= "ctrl.toggle()" class="btn btn-primary"> Resume Recording</button>
          <button ng-if="!ctrl.isPaused" ng-click= "ctrl.toggle()" class="btn btn-primary"> Pause Recording</button>
        </h3>
        
        <div class="well sidenav">
        <h3>History</h3>
        <br/>
          <span ng-repeat= "h in ctrl.history track by $index">
            <div class="row">
              <div class="col-xs-10">
                {{h}}
              </div>
            </div>
            <br>
          </span>
        </div>
        
        
      </div>
    
    </div>
    
   
    
    
  </body>
</html>